.auth-main{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px; 
  padding: 50px;
}

#auth-heading{
  font-size: 32px;
}

.auth-input{
  outline: 0;
  border: 0;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid rgb(26, 178, 239);
  padding: 5px 35px 5px 5px;
}

.auth-password-section {
  width: 100%;
  display: flex;
  position: relative;
}

#password-action-btn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background: transparent;
  border: 0;
  font-size: 18px;
}

.auth-otp-section{
  display: flex;
  flex-direction: row;
  gap: 10px;


}

.auth-otp-input{
  border-radius: 10px;
  border:1px solid black;
  width: 40px;
  height: 40px;
  caret-color: transparent;
  text-align: center;
  font-size: 25px;
}

.auth-otp-input:focus{
  border-bottom:2px solid blue ;
}

#auth-btn{
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(9, 220, 69);
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#auth-btn:hover{
  background-color:  rgb(30, 195, 15);
  scale: 0.98;
}

.auth-create{
  font-size: 14px;
  color: rgb(56, 56, 56);

}

.auth-create span{
  color: rgb(10, 105, 194);
  cursor: pointer;
  margin-left: 5px;
  
}

.auth-create span:hover{
  text-decoration: underline;
  color: rgb(9, 77, 139);
}