.auth-main{
  background: #fbfbfb;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow: hidden;
}

.auth-back-btn{
  min-height: 40px;
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
  border: 0;
  border-radius: 50%;
  background: #eaeaea;
  font-size: 20px;
  color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.auth-headings{
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth-headings .auth-main-heading{
  font-size: 20px;
  font-weight: 500;
  color: #2d2d2d;
}

.auth-headings .auth-sub-heading{
  margin-top: 0.3vh;
  font-size: 15px;
  font-weight: 400;
  color: #4e5456;

}

.auth-input-section{
  margin-top: 2.5vh;
  display: flex;
  flex-direction: column;


}

.auth-label{
  font-size: 15px;
  color: #414040;
  margin-left: 5px;
  margin-bottom: 1.5vh;
  

}

.auth-password-section{
  position: relative;
}

.auth-input{
  background-color: #ffffff;
  border: 0;
  height: 45px;
  border-radius: 20px;
  padding: 0 45px 0 10px;
  width: 100%;
}


.password-action-btn{
  position: absolute;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  right: 20px;
  top: 50%;
  font-size: 16px;
  transform: translate(0px, -50%);
}

.auth-input-terms{
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.auth-input-checkbox{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  accent-color: #79c53b;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.2vh;
  margin-right: 5px;

}


.auth-terms{
  font-size: 15px;
  color: #414040;
}

.auth-terms span{
  color: #83c851;
  text-decoration: underline;
}

.auth-btn{
  margin-top: 3vh;
  min-height: 40px;
  height: 45px;
  width: 100%;
  border-radius: 20px;
  border: 0;
  background: linear-gradient(90deg, #b3eef3, #f6e388 );
  font-size: 15px;
}

.auth-transport{
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color:  #414040;
}

.auth-transport span{
  color: #83c851;
  text-decoration: underline;
}
