.note-container{
  display: flex;
  flex-direction: column;
  max-height:250px;
  background-color: #171717;
  border: 1px solid rgb(62, 62, 62);
  padding: 10px;
  border-radius: 15px;
  word-break: break-all;

}

.note-title{
  font-size: 17px;
  font-weight: 500;
  margin: 2px 0px 10px 0px;
  color: white;
}

.note-content{
  color: white;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden; 
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}