.note-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height:200px;
  background-color: #ffffff05;
  border: 1px solid rgba(207, 206, 206, 0.058);
  padding: 10px;
  border-radius: 15px;
  word-break: break-all;
  cursor: pointer;


}

.note-title{
  font-size: 17px;
  font-weight: 500;
  margin: 2px 0px 10px 0px;
  color: white;
}

.note-content{
  color: white;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden; 
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}