.viewnote-main{
  background-color: rgb(22, 22, 22);  /* #feefc3 */
  height: 100%;
  width: 100%;
  padding: 20px;

}

.viewnote-top-buttons{
  display: flex;
  justify-content: space-between;

}

#viewnote-back-btn{
  height: 40px;
  width: 40px;
  background-color: rgba(138, 132, 132, 0.332);
  border: 0;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  cursor: pointer;

}

#viewnote-back-btn:hover{
    background-color: rgba(107, 105, 105, 0.262);
}

.viewnote-right-buttons{
  display: flex;
  gap: 10px;
}


#viewnote-edit-btn,
#viewnote-delete-btn{
  height: 40px;
  width: auto;
  min-width: 40px;
  background-color: rgba(138, 132, 132, 0.332);
  border: 0;
  border-radius: 7px;
  padding: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#viewnote-edit-btn:hover,
#viewnote-delete-btn:hover{
    background-color: rgba(107, 105, 105, 0.262);
}

.viewnote-data{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  word-break: break-all;

}

#viewnote-time{
  color: rgb(183, 181, 181);
  margin: 5px 0px;
  font-size: 13px;
}


#viewnote-title{
  color: white;
  font-size: 25px;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  outline: 0;

}

#viewnote-content{
  color: white;
  margin-top: 20px;
  font-size: 15px;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
  outline: 0;
  resize: none;  

}